
*, ::after, ::before {
    box-sizing: border-box;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img{
    float: left;
    width: 600px;
    height: 600px;

}
.product-description{
    float: left;
    width: 600px;
    height: 600px;
}
.color1{
    width: 16px;
    height: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: red;
}
.color2{
    width: 16px;
    height: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: black;
}
.price p{
    font-size: 64px;

}
.button{
    width: 200px;
    height: fit-content;
    padding: 12px;
    border: 2px solid black;
    text-align: center;
}
.color{
    display: flex;
}