html {
    height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body {
    height: 100%;
    margin: 0;
}

.section-blue {
    background-color: aqua;
    width: 100%;
    padding: 0;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}
.section-white {
    background-color: white;
    width: 50%;
    padding: 0;
    display: table;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    height: 60vh;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px grey;
        -moz-box-shadow: 0 8px 6px -6px grey;
            box-shadow: 0 8px 6px -6px grey;
}
img {
        margin-top: 20px;
        vertical-align: middle;
        display: flex;
        justify-items: center;
        align-items: center;
    }
.img{
    float: left;
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
}
.intro{
    float: left;
    width: 50%;
    margin-top: 5%;
    padding-right: 20px;
}
/* CSS đoạn intro bên phải nè */
.subtitle{
    font-weight: 600;
}
.price{
    font-size: 48px
}
.description{
    text-align: justify;
    font-size: 18px;
}
.color{
    display: flex;
}
.color1{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.color2{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.button{
    margin-bottom: 10px;
    width: 200px;
    height: fit-content;
    padding: 6px;
    border: 2px solid black;
    text-align: center;
}